/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }


/* CONTENT */
body {
  background-color: #e5edf6;
}

.title {
  text-align: center;
  padding: 30px;
}

.title p {
  color: #808183;
  padding: 10px;
  text-align: center;
}

.main
{
  background-image: url(../images/bubble.png);
  width: 840px;
  height: 513px;
  margin: 0 auto;
}
.remind {
  text-align: center;
  color: #cf4646;
}

.remind a {
  display: block;
  background-image: url(../images/remind.png);
  width: 248px;
  height: 76px;
  margin: 0 auto;
}

.remind a:hover{
  background-position-y: -76px;
  
}

.result {
  margin: 100px auto 0 auto; 
  width:  350px;
  height: 160px;
  color: #000000;
  
}

.result ul {
  font-size: 150%;
  list-style-image: url(../images/listmark.png);  
}

.keyword {
  margin: 20px auto 0 auto;
  width:  337px;
  height: 32px;
  color: #000000;
  border-radius: 5px;
  background-image: url(../images/genre.png);
}

.keyword p {
  float: left;
  height: 32px;
  margin-right: 20px;
  margin-left: 70px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 80%;
  color: #666666;
  text-shadow: 0 1px 1px #ffffff;
}

.keyword form {
  margin-top: 0px;
}

.copyright {
  color: #95aec6;
  text-shadow: 0 1px 1px #ffffff;
  text-align: center;
  font-size: 90%;
}
