<html></html>
<head>
  <title>YuruReme</title>
  <meta charset='UTF-8' />
  <link href='../../public/stylesheets/style.css' rel='stylesheet' type='text/css' />
  <meta content='width=1024' name='viewport' />
</head>
<body>
  <div class='content'>
    <div class='title'>
      <img alt='ゆるリマ' height='49' src='../../public/images/title.png' style='border: none;' width='179' />
      <p>ゆるリマ（ゆるいリマインダー）は、忘れているタスクをゆるく思い出すサービスです。</p>
    </div>
    <div class='main'>
      <div class='remind'>
        <a href='hoge'></a>
      </div>
      <div class='result'>
        <ul>
          <li>チケットの支払いは終わった？</li>
          <li>foo</li>
          <li>piyo</li>
          <li>fuga</li>
          <li>foo</li>
        </ul>
      </div>
      <div class='keyword'>
        <p>ジャンル</p>
        <form>
          <select>
            <option>全て</option>
            <option>2</option>
            <option>3</option>
          </select>
        </form>
      </div>
    </div>
    <div class='copyright'>
      <p>created by @joker1007 @overislandjp</p>
    </div>
  </div>
</body>
