<html></html>
<head>
  <title>YuruReme</title>
  <meta charset='UTF-8' />
  <link href='../../public/stylesheets/style.css' rel='stylesheet' type='text/css' />
  <meta content='width=1024' name='viewport' />
</head>
<body>
  <div class='content'>
    <div class='title'>
      <img alt='ゆるリマ' height='20' src='../../public/images/title.png' style='border: none;' width='20' />
    </div>
    <div class='button'>
      <a class='remind' href='http://twitter.com/overislandjp'></a>
    </div>
    <div class='result'>
      <ul>
        <li>hoge</li>
        <li>foo</li>
        <li>piyo</li>
      </ul>
      <div class='keyword'>
        <p>keyword</p>
      </div>
    </div>
  </div>
</body>
