%html
%head
  %title YuruReme
  %meta{:charset => "UTF-8"}
  %link{"rel" => "stylesheet", "href" => "../../public/stylesheets/style.css", "type" => "text/css"}
  %meta{:name => "viewport", :content => "width=1024"}
%body
  .content  
    .title
      %img{:alt => "ゆるリマ", :height => "20", :src => "../../public/images/title.png", :style => "border: none;", :width => "20"}/
    .button
      %a.remind{:href => "http://twitter.com/overislandjp"}
    .result
      %ul
        %li hoge
        %li foo
        %li piyo
      .keyword
        %p keyword