%html
%head
  %title YuruReme
  %meta{:charset => "UTF-8"}
  %link{"rel" => "stylesheet", "href" => "../../public/stylesheets/style.css", "type" => "text/css"}
  %meta{:name => "viewport", :content => "width=1024"}
%body
  .content  
    .title
      %img{:alt => "ゆるリマ",  :width => "179", :height => "49", :src => "../../public/images/title.png", :style => "border: none;"}
      %p ゆるリマ（ゆるいリマインダー）は、忘れているタスクをゆるく思い出すサービスです。
    .main
      .remind
        %a{:href => "hoge"}
      .result
        %ul
          %li hoge
          %li foo
          %li piyo
        .keyword
        %p keyword