- #coding: utf-8
%script#taskTemplate{:type => "text/x-jquery-tmpl"}
  %li {{=title}}

.remind
  %a#remindButton{:href => "hoge"}
.result
  %ul#taskList{:style => "position: relative;"}
    - @daily_tasks.each do |daily_task|
      %li=  daily_task.title
  .keyword
    %p ジャンル
    %form
      %select
        %option{:value => "all"} 全て
        - @categories.each do |category|
          %option{:value => "#{category.name}"}= category.name
